php_value memory_limit 8M
php_value post_max_size 8M
php_value upload_max_filesize 8M

RewriteEngine On
RewriteRule ^login$ /pertamina/controllers/c_login/login.php
RewriteRule ^home$ /pertamina/controllers/c_home/home.php
RewriteRule ^home/karyawan_aktif$ /pertamina/controllers/c_home/c_karyawan_aktif/karyawan_aktif.php
RewriteRule ^home/karyawan_nonaktif$ /pertamina/controllers/c_home/c_karyawan_nonaktif/karyawan_nonaktif.php
RewriteRule ^home/master_data_kbo$ /pertamina/controllers/c_home/c_master_data_kbo/master_data_kbo.php
RewriteRule ^home/master_data_cc$ /pertamina/controllers/c_home/c_master_data_cc/master_data_cc.php
RewriteRule ^home/upload_berkas$ /pertamina/controllers/c_home/c_upload_berkas/upload_berkas.php
RewriteRule ^home/sertifikat$ /pertamina/controllers/c_home/c_sertifikat/sertifikasi_dan_pelatihan.php
RewriteRule ^home/report$ /pertamina/controllers/c_home/c_report/report.php
RewriteRule ^home/master_pelatihan$ /pertamina/controllers/c_home/c_master_pelatihan/master_pelatihan.php
RewriteRule ^home/report_sertifikat$ /pertamina/controllers/c_home/c_report_sertifikat/report_sertifikat.php
RewriteRule ^home/report_manpower$ /pertamina/controllers/c_home/c_report_manpower/report_manpower.php
RewriteRule ^home/report_manpower_page=1$ /pertamina/controllers/c_home/c_report_manpower/report_manpower.php
RewriteRule ^home/report_manpower_page=2$ /pertamina/controllers/c_home/c_report_manpower/report_manpower2.php

# Rewrite URL Root to Sub Folder
# RewriteRule ^$ /pertamina/login

# Error 404 not found
ErrorDocument 404 /pertamina/routes/errorPage/404.php