php_value memory_limit 8M
php_value post_max_size 8M
php_value upload_max_filesize 8M

RewriteEngine On
RewriteRule ^login$ /pertamina/controllers/c_login/login.php
RewriteRule ^home$ /pertamina/controllers/c_home/home.php
RewriteRule ^home/karyawan_aktif$ /pertamina/controllers/c_home/c_karyawan_aktif/karyawan_aktif.php
RewriteRule ^home/karyawan_nonaktif$ /pertamina/controllers/c_home/c_karyawan_nonaktif/karyawan_nonaktif.php
RewriteRule ^home/master_data_kbo$ /pertamina/controllers/c_home/c_master_data_kbo/master_data_kbo.php
RewriteRule ^home/master_data_cc$ /pertamina/controllers/c_home/c_master_data_cc/master_data_cc.php
RewriteRule ^home/upload_berkas$ /pertamina/controllers/c_home/c_upload_berkas/upload_berkas.php
RewriteRule ^home/sertifikat$ /pertamina/controllers/c_home/c_sertifikat/sertifikasi_dan_pelatihan.php
RewriteRule ^home/report$ /pertamina/controllers/c_home/c_report/report.php
RewriteRule ^home/master_pelatihan$ /pertamina/controllers/c_home/c_master_pelatihan/master_pelatihan.php
RewriteRule ^home/report$ /pertamina/controllers/c_home/c_report/report.php

# error di client
# bad syntax
ErrorDocument 400 /path/to/400.php
# unautorized
ErrorDocument 401 /path/to/401.php
# not used
ErrorDocument 402 /path/to/402.php
# forbiden
ErrorDocument 403 /path/to/403.php
# not found
ErrorDocument 404 /pertamina/routes/routesError/404.php
# error di server
# internal server error
ErrorDocument 500 /path/to/500.php
# not implemented
ErrorDocument 501 /path/to/501.php
# overload
ErrorDocument 502 /path/to/502.php
# gateway timeout
ErrorDocument 503 /path/to/503.php